<aside class="fixed top-16 w-60 shadow-lg rounded border bg-gray-200 h-[calc(100vh_-_4rem)]">
    <ul>
      <li [routerLink]="'/'" class="p-4 cursor-pointer text-blue" routerLinkActive="bg-blue-200 border-1-4 border-blue-500" [routerLinkActiveOptions]="{exact:true}">All</li>
      <li [routerLink]="'/completed-tasks'" class="p-4 cursor-pointer" routerLinkActive="bg-blue-200 border-1-4 border-blue-500 text-blue">Completed</li>
      <li [routerLink]="'/important-tasks'" class="p-4 cursor-pointer " routerLinkActive="bg-blue-200 border-1-4 border-blue-500">Important</li>
    </ul>
  </aside>
  